.card_align{
    display: table;
}
.count{
   font-size: 21px;
   display: table-cell;
   vertical-align: middle;
   text-align: right;
}

p {
    font-size: 18px;
    padding: 10px 15px;
    margin: 0px !important;
    font-weight: normal;
}


